<div class="row mb-2">
    <div class="font-weight-bold col-4">Rue:</div>
    <div class="col-8">
        <label class="mb-0" id="rue">{{ lieu.rue }}</label>
    </div>
</div>
<div class="row mb-2">
    <div class="font-weight-bold col-4">Latitude:</div>
    <div class="col-8">
        <label class="mb-0" id="Latitude">{{ lieu.latitude }}</label>
    </div>
</div>
<div class="row mb-2">
    <div class="font-weight-bold col-4">Longitude:</div>
    <div class="col-8">
        <label class="mb-0" id="longitude">{{ lieu.longitude }}</label>
    </div>
</div>
</div>