html body {
    height: 100%;
    background-color: #e9ecef;
}

.bg-annulee {
    background-image: url("../img/annulée.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-archivee {
    background-image: url("../img/archivée.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.action {
    width: 38px;
}

.custom-file-label2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-file-label2::after {
    opacity: 0!important;
}

.input-group>.custom-file:not(:last-child) .custom-file-label2, .input-group>.custom-file:not(:last-child) .custom-file-label2::after {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}