{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block body %}
    <h1 class="display-4">MON PROFIL</h1>
    <hr class="my-3">
    <form class="container">
        <div class="form-group row pr-3">
            <label for="pseudo" class="col-4 m-auto">Pseudo :</label>
            <input type="text" class="form-control col-8" id="pseudo">
        </div>
        <div class="form-group row pr-3">
            <label for="prenom" class="col-4 m-auto">Prénom :</label>
            <input type="password" class="form-control col-8" id="prenom">
        </div>
        <div class="form-group row pr-3">
            <label for="nom" class="col-4 m-auto">Nom :</label>
            <input type="password" class="form-control col-8" id="nom">
        </div>
        <div class="form-group row pr-3">
            <label for="telephone" class="col-4 m-auto">Téléphone :</label>
            <input type="password" class="form-control col-8" id="telephone">
        </div>
        <div class="form-group row pr-3">
            <label for="email" class="col-4 m-auto">Email :</label>
            <input type="password" class="form-control col-8" id="email">
        </div>
        <div class="form-group row pr-3">
            <label for="mdp" class="col-4 m-auto">Mot de passe :</label>
            <input type="password" class="form-control col-8" id="mdp">
        </div>
        <div class="form-group row pr-3">
            <label for="confirm" class="col-4 m-auto">Confirmation :</label>
            <input type="password" class="form-control col-8" id="confirm">
        </div>
        <div class="form-group row pr-3">
            <label for="ville" class="col-4 m-auto">Ville de rattachement :</label>
            <select class="custom-select col-8" id="ville">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group row pr-3">
            <label for="mdp" class="col-4 m-auto">Ma photo :</label>
            <div class="custom-file col-8">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Télécharger vers le serveur</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 pb-3">
                <button type="submit" class="btn btn-block btn-success">Enregister</button>
            </div>
            <div class="col-12 col-sm-6">
                <button type="submit" class="btn btn-block btn-danger">Annuler</button>
            </div>
        </div>
    </form>
{% endblock %}